/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "pagedown_bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "google-code-prettify-rails/prettify";

@font-face {
  font-family: 'nanumbrush';
  src:font-url('NanumBrush.ttf');
  src:font-url('NanumBrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Pagedown Editor
#wmd-button-bar-content {
  border: 1px solid #eaeaea;
  border-radius: 4px 4px 0 0;
  padding: .2em;
  background-color: #eaeaea;
}
.wmd-input {
  margin-top:0;
  padding:1em;
  border-radius: 0 0 4px 4px;
  border-color: #eaeaea;
}
.wmd-preview, .markdown-preview {
  margin-top: 0;
  background-color: #f7f7f7;
  border-color: #eaeaea;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
  h1, h2, h3, h4, h5 {
    margin:1.4em 0 .6em;
    &:first-child { margin-top: .2em;}
  }
  h1 { font-weight: bolder;}
  pre { background-color: white;}
  table {
    @extend .table!optional;
    @extend .table-bordered!optional;
    background-color: white;
  }
  pre.prettyprint {
    padding:1em;
    border-color: #ececec;
  }
}
// rBlog "Show" 액션에서 마크다운 문서 보는 div 클래스
.markdown-preview {
  background-color: transparent;
  pre {background-color: #fdfdfd;}
}
// 구글 prettify 를 이용하여 syntax highlighting 할 때 좌측 코드라인을 5 단위로 표시하지 않고,
// 1,2,3,4,와 같이 연번호로 보이게 하기
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-type: decimal !important;
}