// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    position:relative;
    width:400px;
    height:400px;
}
.post img {
    width:100%;
    vertical-align:top;

}
