// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    position:relative;
    margin: 0 auto;
}
.navbar {
	padding-top: 25px;
	padding-bottom: 25px;
    width:100%;
    vertical-align:top;

}

footer{
	font-size:12px;
}


.post-content {
	font-family: nanumbrush;
	font-size:30px;
}

.modal-post-content{
	font-family: nanumbrush;
	font-size:50px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    border: 1px solid white;
}

.modal-post-content{
	

	
	$font-size: 30px;
	$line-height: 1.4;
	$lines-to-show: 13;


	
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-width: 504.78px;
	height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: $font-size;
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

  
}
